<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <blockquote>
    <h1>Product  List</h1>
    <hr>
    <table width="100%" border="1">
        <tr>
            <th>S.n</th>
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        {% for product in productData %}
        <tr>
            <td></td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
    
            <td>
                <a href="{% url 'order' product.id %}">Order Now</a>
               
            </td>
        </tr>
        {% endfor %}
    </table>
  </blockquote>
    
</body>
</html>