<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <blockquote>
        <h1>Order Now</h1>
        <hr>
        <p>To order, please fill out the form below:</p>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <label for="product">Product:</label><br>
            <input type="text" id="product"
            value="{{ product.name }}" 
            name="product" readonly><br><br>
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name"><br><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br><br>           
            <label for="quantity">Quantity:</label><br>
            <input type="number" id="quantity" name="quantity" min="1" max="100"><br><br>
            <label for="price">Price</label> <br>
            <input type="text" id="price" name="price" value="{{ product.price }}" readonly><br><br>
            <button>Order Now</button>
        </form>
        <hr>
        
    </blockquote>
</body>
</html>