<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <blockquote>
    <h1>Users List</h1>
    <hr>
    <table width="100%" border="1">
        <tr>
            <th>S.n</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
        {% for user in users %}
        <tr>
            <td></td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>

            <td>

                {% if user.image %}
                <img src="{{ user.image }}" alt="Uploaded Image" width="200">
            {% endif %}
            </td>
            <td>
                <a href="{% url 'update' user.id %}">Edit</a>
                <a href="{% url 'delete' user.id %}">Delete</a>
               
            </td>
        </tr>
        {% endfor %}
    </table>
  </blockquote>
    
</body>
</html>